<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Không tìm thấy kết quả</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Vê trang chủ</a>
    </div>
</div>