@model Actor

@{
    ViewData["Title"] = "Chỉnh sửa thông tin";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Anh" class="control-label"></label>
                        <input asp-for="Anh" class="form-control" />
                        <span asp-validation-for="Anh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"></label>
                        <input asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TieuSu" class="control-label"></label>
                        <input asp-for="TieuSu" class="form-control" />
                        <span asp-validation-for="TieuSu" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Hiển thị tất cả</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#Anh").val();
        })

        $("#Anh").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}